body {
  font-size: 20px;
  color:rgb(19, 85, 88);
  font-family: monospace;
 
  /* background-color: black;
  color: white; */
}
/* reseting the colors to the initail set color */
a:link, a:visited{
 
  color:rgb(7, 168, 168);
}

nav {
  display: flex;
  justify-content: end;
  background-color: rgba(73, 27, 9, 0.781);
  height: 50px;
  width: 100%;
  margin: auto;
  color: rgb(7, 168, 168);
  font-size: bold;
}

.nav-h1 {
  display: flex;
  float: left;
  margin-right: auto;
  margin-top: 4px;
  width: 10%;
  height: 35px;
  padding-left: 40px;
  padding-top: 6px;
  background-color: rgb(7, 168, 168);
  color: rgb(78, 78, 78);
  font-size: larger;
}

.nav-link {
  display: flex;

  justify-content: flex-end;
  gap: calc(20px);
  justify-items: center;
  width: 60%;
  text-decoration: 4px underline;
  text-decoration-color: rgb(7, 168, 168);
  .link {
    margin-right: 10px;
    padding-top: 10px;
  }
}

header {
  display: flex;
  justify-content: flex-end;
  padding-top:0px;
  background-image: url("./images/header.jpg");
  height: 140px;
  h2{
    margin-top: auto;
    background-color:rgb(129, 192, 215);

  }
}

#about-me {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: darkgray; */
}
.title-bio {
  display: flex;
  justify-content: flex-end;
  color:rgb(19, 85, 88);
  font-weight: bold;
  height: 300px;
  width: 15%;
  margin: 50px 3px 3px 100px;
  float: left;
  /* box-shadow: 6px 0px gray; */
}
.bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  margin: 50px 45px 0px 0px;
  flex-wrap: wrap;
  width: 70%;
  float: right;
  box-shadow: -6px 0px gray;
}

.work-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.work-title {
  display: flex;
  color:rgb(19, 85, 88);
  font-weight: bold;
  justify-content: flex-end;
  height: 670px;
  min-width: 15%;
  margin: 20px 3px 3px 95px;
  float: left;
  box-shadow: 6px 0px gray;
}

#work {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  flex-grow: 1;
  padding-right: 30px;
  margin: 20px 38px 0px 34px;
  /* min-width: 70%; */
  height: 300px;
  background-image: url("./images/smart-shop.png");
  background-repeat: no-repeat;
  background-size:cover;
  float: right;
  border: 6px solid rgb(129, 192, 215);
}
.work:hover {
  filter: brightness(120%);
}
.work-sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 25px 10px 0px 0px;
  height: 50px;
  background-color: rgb(129, 192, 215);
}

 .project-section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly; 
  margin-bottom: 30px;
 
} 

.project {
  display: flex;
  /* flex-direction: row; */
  margin-bottom: 6px;
  min-width: 33rem;
  margin-top:1rem;
  height: 150px;
  filter: blur(0.5px);
}
.project:hover {
  filter: brightness(120%);
}

.item-1{
  display: flex;
  background-image:url(./images/mern.png);
  
  border: 6px solid rgb(129, 192, 215);
  background-repeat: no-repeat;
  background-size: cover;

  
}

.item-2{
  display: flex;
  background-image:url(./images/clock.png);
  border: 6px solid rgb(129, 192, 215);
}
.item-3{
  display: flex;
  background-image:url(./images/pig-game.png);
  border: 6px solid rgb(129, 192, 215);
  background-repeat: no-repeat;
  background-size: cover;
}
.item-4{
  display: flex;
  background-image:url(./images/Guess.png);
  border: 6px solid rgb(129, 192, 215);
}
.item-sub{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  /* margin-bottom: 20px; */
  padding: 25px 10px 0px 0px;
  height: 15px;
  background-color:rgb(129, 192, 215);
}

.footer{
  display: flex-box;
  position: relative;
  background-image: url("./images/header.jpg");
  height: 140px;
  margin-top:auto;
}
.second-section{
  display: flex;
  flex-direction:row ;
  flex-wrap: wrap;
}

.contact-section{
  display: flex;

}
.contact-me{
  display: flex;
  color:rgb(19, 85, 88);
  font-weight: bold;
  justify-content: flex-end;
  height: 80px;
  width: 14%;
  padding-right: 15px;
  margin: 0px 4px 3px 95px;
 
  box-shadow: 6px 0px gray;
}



#contact{
  display:flex;
  flex-grow: 1;
  /* background-color: bisque; */
  justify-content: space-evenly;
  font-size: large;
  font-weight: bold;
  color:rgb(19, 85, 88);
  padding-top: 25px;
  text-decoration: underline;
}
